DATABASE_URL=
PORT=80
NODE_ENV=production

JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_EXTRA_USERS=NEUROTRAUMA:$2a$12$Xf0bmTtShpeWr9itmzsebe.6ElpVcNIHgSW6RUdHlTGDqLeodXLb.

CHATBOT_API_URL=
ADMIN_API_KEY=

PRODUCT_NAME=Neurotraumas(TM)
HOTMART_LINK=https://pay.hotmart.com/T103515864E
TIMEZONE=America/La_Paz
